body {
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
}

.dashboard-container {
  max-width: 800px;
  margin: 20px auto;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}

h2 {
  color: #333;
}

.navigation-menu {
  margin-top: 20px;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  display: inline-block;
  margin-right: 15px;
}

a {
  text-decoration: none;
  color: #333;
  font-weight: bold;
  padding: 8px;
  border-radius: 4px;
  transition: background-color 0.3s ease;
}

a:hover {
  background-color: #f0f0f0;
}

#content {
  margin-top: 20px;
}

.records-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.record-box {
  border: 1px solid #ccc;
  border-radius: 10px;
  padding: 10px;
  margin: 0 auto 20px;
  margin-bottom: 10px;
  width: calc(100% - 20px);
  word-wrap: break-word;
  box-sizing: border-box;
  background-color: #ecf4f9
}

button {
  background-color: #4caf50;
  color: #fff;
  padding: 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color: #45a049;
}

#queryExecutionForm button {
  display: block;
  margin: 10px auto 0;
}